:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding-bottom: 12.5%;
  box-sizing: border-box;
}

.container {

  .word-list {
    font-size: 32px;
    line-height: 1.5;
  }

  button + button {
    margin-left: 1rem;
  }
}