<div>
  <h2>Học</h2>
  <section class="new-quiz">
    <textarea [(ngModel)]="newQuiz" (keydown)="onTab(textarea, $event)" #textarea placeholder="Paste CSV here
Answer | Question"></textarea>
    <br />
    <button *ngIf="editing" (click)="cancelEditQuiz()">Cancel</button>
    <button (click)="createQuiz(newQuiz)">{{ editing ? 'Save' : 'Create'}} Quiz</button>
  </section>
  <section *ngFor="let section of sections">
    <h3>{{ section.name }}</h3>
    <button (click)="startExam(section)">Full Exam</button>
    <button (click)="startExam(section, 10)">Short Exam</button>
    <br /><br />
    <div class="quiz" *ngFor="let quiz of section.quizzes">
      <div class="quiz-name">
        {{ quiz.name }}
      </div>
      <div class="quiz-actions">
        <button (click)="startQuiz(quiz)">
          {{ quiz.active ? 'Start Quiz' : 'Review' }}
        </button>
        <button [ngClass]="{ 'only-on-hover': !quiz.active }" (click)="practiceQuiz(quiz)">
          Practice
        </button>
        <button class="only-on-hover" [title]="quiz.active ? 'Mark as learned' : 'Mark as unlearned'" (click)="moveQuiz(quiz)">
          ✔
        </button>
        <button class="only-on-hover" title="View" (click)="examineQuiz(quiz)">
          🔍
        </button>
        <button class="only-on-hover" title="Edit" (click)="editQuiz(quiz)">
          ✎
        </button>
        <button class="only-on-hover" title="Delete" (click)="deleteQuiz(quiz)">
          ❌
        </button>
      </div>
    </div>
  </section>
</div>