<div>
  <h2>Học</h2>
  <section class="new-quiz">
    <textarea [(ngModel)]="newQuiz" (keydown)="onTab(textarea, $event)" #textarea placeholder="Paste CSV here"></textarea>
    <br />
    <button (click)="createQuiz(newQuiz)">Create Quiz</button>
  </section>
  <section>
    <div class="quiz" *ngFor="let quiz of api.quizzes">
      <div class="quiz-name">
        {{ quiz.name }}
      </div>
      <div class="quiz-actions">
        <button (click)="startQuiz(quiz)">
          Start Quiz
        </button>
        <button (click)="practiceQuiz(quiz)">
          Practice
        </button>
        <button class="only-on-hover" (click)="deleteQuiz(quiz)">
          ❌
        </button>
      </div>
    </div>
  </section>
</div>