<div class="container">
  <h1 [ngClass]="{ 'hide': !api.activeOptions?.endless && hide, 'start-hidden': api.activeOptions?.endless, 'reveal': reveal }">{{ item.answer }}</h1>
  <div class="question">{{ item.question }}</div>
  <input #answerInput [(ngModel)]="answer" (keydown)="hideAnswer()" (keypress)="nextQuestionPlz($event)" />
  <button class="cta" *ngIf="!api.activeOptions?.endless" (click)="advance()">Skip</button>
  <button class="cta" (click)="nextQuestionPlz()">Continue</button>
  <br />
  <br />
  <div>
    <span *ngIf="!api.activeOptions?.endless">{{ index + 1 }} of {{ api.activeQuiz?.items?.length }}</span>
    <span *ngIf="api.activeOptions?.endless">{{ total + 1 }} of {{ api.activeQuiz?.items?.length }}</span>
    <br />
    <button (click)="leave()">Leave</button>
  </div>
</div>
