<div class="container">
  <h1 [ngClass]="{ 'hide': hide }">{{ item.answer }}</h1>
  <div class="question">{{ item.question }}</div>
  <input #answerInput [(ngModel)]="answer" (keydown)="hideAnswer()" (keypress)="nextQuestionPlz($event)" />
  <button class="cta" (click)="advance()">Skip</button>
  <button class="cta" (click)="nextQuestionPlz()">Continue</button>
  <br />
  <br />
  <div>
    <span>{{ index + 1 }} of {{ api.activeQuiz?.items?.length }}</span>
    <br />
    <button (click)="leave()">Leave</button>
  </div>
</div>
